#introduce{
    width: 100%;
    height: 500px;
    background: rgb(230, 225, 225);
    text-align: center;
}


#svgIntro{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    
}
.display-svg-intro{
    display: none;
}
#svgIntro text,tspan{
    font-family: 'Inconsolata', monospace;

}
#svgIntro path:nth-child(1){
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 3500;
    stroke-dasharray: 3500;
    animation: svgIntro 6s forwards;
}
#svgIntro path:nth-child(2){
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 3500;
    stroke-dasharray: 3500;
    animation: svgQuestion 6s forwards;
    animation-delay: 4.5s;
}
#svgIntro path:nth-child(3){
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 3500;
    stroke-dasharray: 3500;
    animation: svgQuestion 6s forwards;
    animation-delay: 5.4s;
}
#svgIntro path:nth-child(4){
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    animation: rotate1 3s linear infinite;
}
#svgIntro path:nth-child(5){
    fill: transparent;
    stroke: black;
    stroke-width: 1.5px;
    animation: rotate2 3s linear infinite;
}


@keyframes svgIntro{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes svgQuestion{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes rotate1{
    0%{
        transform: translate(-26px,-35px);
        fill: yellow;
    }
    25%{
        transform: translate(-25px,-12px);
        fill: blue;
    }
    50%{
        transform: translate(-28px,-25px);
        fill: red;
    }
    75%{
        transform: translate(-55px,-12px);
        fill: green;
    }
    100%{
        transform: translate(-26px,-35px);
        fill: yellow;
    }
}

@keyframes rotate2{
    0%{
        transform: translate(45px,15px);
        fill: yellow;
    }
    25%{
        transform: translate(60px,14px);
        fill: green;
    }
    50%{
        transform: translate(35px,15px);
        fill: red;
    }
    75%{
        transform: translate(32px,16px);
        fill: blue;
    }
    100%{
        transform: translate(45px,13px);
        fill: yellow;
    }
}