
svg{
    font-family: 'Inconsolata', monospace;
}
div{
    font-family: 'Inconsolata', monospace;
}
button{
    font-family: 'Inconsolata', monospace;
}
header{
    font-family: 'Inconsolata', monospace;
}