html,body{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Inconsolata', monospace;
}
header{
    width: 100%;
    height: 25px;
    display: none;
    background-color: #848484;
    position: fixed; 
    text-align: center;
    z-index: 9999999;
}
.header-text{
    text-decoration: none;
    font-size: 20px;
    color: white;
}


.banner{
    color: white;
    /* background: brown; */
    background-size: cover;
    width: 100%;
    height: 700px;
}

.text-center{
    text-align: center !important;
}

.banner .banner-bg{
    background:center center;
    background-image: url("../pt/br/dsc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.container{
    background: rgba(12, 10, 10, 0.664);
    width: 75%;
    height: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner .info{
   text-align: center;
   width: 100%;
   height: 70%;
   padding-top: 5%;
   padding-bottom: 100px;
   overflow: hidden;
   line-height: 1em;
}

#logo{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -4%;
    display: inline-block;
    transform: translateX(-50%);
}
.info .sayHi{
    font-size: 25px;
}
.info .twoButton{
    list-style-type: none;
    height: auto;
    padding-left: 0;
    display: inline-block;
}
.info .btn{
    float: left;
    padding-right: 10px;
}
.info .twoButton button{
    color: white;
    background: none;
    width: 75px;
    height: 75px;
    border: 1px solid transparent;
    border-color: white;
    border-radius: 50%;
}
.info .twoButton button a{
    text-decoration: none;
}
.info .twoButton .btn1{ transition: all 0.6s ease-in-out;  }
.info .twoButton .btn2{ transition: all 0.5s ease-in-out;  }

.btns:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.info .twoButton .btns:hover{
    transform: rotateZ(360deg);
    background-color: rgba(255, 255, 255, 0.856);
    color: #111;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.info .wordsFly{
    position: relative;
}
#svgLogo{
    display: inline-block;
    text-align: center;
}
.info .draw{    
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
    stroke-dashoffset: 155;
    stroke-dasharray: 150;
    animation: animate 5s forwards;
}
@keyframes animate{
    to{
        fill: black;
        stroke-dashoffset: 0;
    }
}

@media only all and (min-width: 800px){
    #introduce{
        height: 400px;
        
    }
  }

@media only all and (max-width: 1134px){
    #svgLogo{
        display: none;
    }
  }



